<section class="about-us-section" id="about-us">
  <div class="container">
    <h2>Чому Хатинка Лапок</h2>
    <div class="about-us-swiper">
      <div class="about-us-swiper-wrapper">
        <!-- Slide 1 -->
        <div class="about-us-swiper-slide">
          <div class="slide-wrapper">
            <picture>
              <source
                srcset="
                  ./img/about-us/slide1.webp     1x,
                  ./img/about-us/slide1-@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide1.webp     1x,
                  ./img/about-us/slide1-@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide1-mob.webp    1x,
                  ./img/about-us/slide1-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <img src="./img/about-us/slide1-mob.webp" alt="Slide 1" />
            </picture>
            <div class="slide-text">
              Все почалося у 2015 році з кількох небайдужих людей та одного
              врятованого собаки. Сьогодні ми — один з найбільших притулків у
              регіоні, але наша мета незмінна: дати другий шанс тим, кого
              зрадили.
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="about-us-swiper-slide">
          <div class="slide-wrapper">
            <picture>
              <source
                srcset="
                  ./img/about-us/slide2.webp     1x,
                  ./img/about-us/slide2-@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide2.webp     1x,
                  ./img/about-us/slide2-@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide2-mob.webp    1x,
                  ./img/about-us/slide2-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <img src="./img/about-us/slide2-mob.webp" alt="Slide 2" />
            </picture>
            <div class="slide-text">
              Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
              безпритульних тварин. Наша мета — не просто дати прихисток, а й
              забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
              родині.
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="about-us-swiper-slide">
          <div class="slide-wrapper">
            <picture>
              <source
                srcset="
                  ./img/about-us/slide3.webp     1x,
                  ./img/about-us/slide3-@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide3.webp     1x,
                  ./img/about-us/slide3-@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide3-mob.webp    1x,
                  ./img/about-us/slide3-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <img src="./img/about-us/slide3-mob.webp" alt="Slide 3" />
            </picture>
            <div class="slide-text">
              "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
              десятків волонтерів, які щодня вкладають свою душу та час у
              турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
              залежить від нас.
            </div>
          </div>
        </div>
        <!-- Slide 4 -->
        <div class="about-us-swiper-slide">
          <div class="slide-wrapper">
            <picture>
              <source
                srcset="
                  ./img/about-us/slide4.webp     1x,
                  ./img/about-us/slide4-@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide4.webp     1x,
                  ./img/about-us/slide4-@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide4-mob.webp    1x,
                  ./img/about-us/slide4-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <img src="./img/about-us/slide4-mob.webp" alt="Slide 4" />
            </picture>
            <div class="slide-text">
              Ми створили безпечний та комфортний простір. Кожна тварина отримує
              якісне харчування, своєчасну ветеринарну допомогу, проходить
              соціалізацію та гуляє на спеціально обладнаних майданчиках.
            </div>
          </div>
        </div>
        <!-- Slide 5 -->
        <div class="about-us-swiper-slide">
          <div class="slide-wrapper">
            <picture>
              <source
                srcset="
                  ./img/about-us/slide5.webp     1x,
                  ./img/about-us/slide5-@2x.webp 2x
                "
                media="(min-width: 1440px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide5.webp     1x,
                  ./img/about-us/slide5-@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./img/about-us/slide5-mob.webp    1x,
                  ./img/about-us/slide5-mob@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <img src="./img/about-us/slide5-mob.webp" alt="Slide 5" />
            </picture>
            <div class="slide-text">
              Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
              волонтером, допомогти фінансово або інформаційно. Кожен маленький
              внесок наближає нас до великої мети — світу без безпритульних
              тварин.
            </div>
          </div>
        </div>
      </div>
      <!-- Контролери під картинкою -->
      <div class="about-us-swiper-controls">
        <div class="about-us-swiper-pagination"></div>
        <div class="about-us-swiper-navigation">
          <button
            class="about-us-swiper-button-prev animated-nav-button"
            aria-label="Попередній слайд історії"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-arrow_back"></use>
            </svg>
          </button>
          <button
            class="about-us-swiper-button-next animated-nav-button"
            aria-label="Наступний слайд історії"
          >
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-arrow_forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
