<footer class="footer">
  <div class="container footer-container">
    <div class="footer-links-wrapper">
      <ul class="footer-logo-links">
        <li class="footer-links-item">
          <a
            class="footer-logo"
            href="index.html"
            aria-label="Хатинка лапок - головна сторінка"
          >
            <svg
              class="footer-logo-img"
              width="100"
              height="98"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </li>

        <li class="footer-links-item">
          <a
            class="footer-logo-text"
            href="index.html"
            aria-label="Хатинка лапок"
          >
            <svg class="logo-text" width="183" height="71" aria-hidden="true">
              <use href="/img/icons.svg#logo-text"></use>
            </svg>
          </a>
        </li>
      </ul>

      <nav class="footer-nav" aria-label="Навігація футера">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a
              class="footer-nav-link"
              aria-disabled="true"
              tabindex="-1"
              href="#about-us"
              aria-label="Секція про нас"
              >Про нас</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              class="footer-nav-link"
              aria-disabled="true"
              tabindex="-1"
              href="#pets-list"
              aria-label="Секція знайти друга"
              >Знайти друга</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              class="footer-nav-link"
              aria-disabled="true"
              tabindex="-1"
              href="#faq"
              aria-label="Секція часті запитання"
              >Часті запитання</a
            >
          </li>
          <li class="footer-nav-item">
            <a
              class="footer-nav-link"
              aria-disabled="true"
              tabindex="-1"
              href="#success-stories"
              aria-label="Секція історії успіху"
              >Історії успіху</a
            >
          </li>
        </ul>
      </nav>

      <ul class="footer-socials-list">
        <li class="footer-socials-item">
          <a
            class="footer-socials-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
            title="Ми у Facebook"
          >
            <svg
              class="footer-socials-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            class="footer-socials-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
            title="Ми у Instagram"
          >
            <svg
              class="footer-socials-icon"
              width="32"
              height="32"
              aria-hidden="true"
            >
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="copyright-wrapper">
      <hr class="horizontal-line" aria-hidden="true" />
      <p class="footer-copyright">
        &copy; <span id="year"></span> Хатинка лапок. Всі права захищені.
      </p>
    </div>
  </div>
</footer>

<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>
