<header class="header">
  <div class="container header-elements">
    <div class="header-wrap">
      <a
        href="./index.html"
        class="header-logo"
        aria-label="Логотип посилання на головну сторінку"
        ><svg class="header-icon" width="157" height="51">
          <use href="./img/icons.svg#icon-logotype"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav">
      <a href="#pets-list" class="header-link" aria-label="Секція знайти друга"
        >Знайти друга</a
      >
      <a href="#about-us" class="header-link" aria-label="Секція про нас"
        >Про нас</a
      >
      <a href="#faq" class="header-link" aria-label="Секція часті запитання"
        >Часті запитання</a
      >
      <a
        href="#success-stories"
        class="header-link"
        aria-label="Секція історії успіху"
        >Історії успіху</a
      >
    </nav>
    <button
      type="button"
      class="header-btn-hidden header-btn"
      data-scroll="#pets-list"
      aria-label="Взяти друга"
    >
      Взяти друга
    </button>
    <div class="header-toggle">
      <div class="header-burger">
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </div>

      <div class="header-close">
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </div>
    </div>
  </div>
</header>

<div class="header-mob-menu">
  <div class="header-mob-menu-container">
    <nav class="mobile-menu">
      <a href="#pets-list" class="header-link" aria-label="Секція знайти друга"
        >Знайти друга</a
      >
      <a href="#about-us" class="header-link" aria-label="Секція про нас"
        >Про нас</a
      >
      <a href="#faq" class="header-link" aria-label="Секція часті запитання"
        >Часті запитання</a
      >
      <a
        href="#success-stories"
        class="header-link"
        aria-label="Секція історії успіху"
        >Історії успіху</a
      >
    </nav>
    <button
      type="button"
      class="header-btn"
      data-scroll="#pets-list"
      aria-label="Взяти друга"
    >
      Взяти друга
    </button>
  </div>
</div>
