<div class="order-modal-overlay">
  <div class="order-modal">
    <button class="order-btn-close" type="button" aria-label="Закрити вікно">
      <svg width="24" height="24" class="order-icon-close">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <p class="order-title">Залишіть заявку на знайомство</p>

    <form class="order-form">
      <div class="order-container-label">
        <label class="order-label" for="user-name">Ім’я*</label>
        <div class="order-container-input">
          <input
            class="order-input"
            type="text"
            id="user-name"
            name="user-name"
            placeholder="Андрій"
          />
        </div>
        <p class="order-error-text">Error text</p>
      </div>

      <div class="order-container-label">
        <label class="order-label" for="user-tel">Телефон*</label>
        <div class="order-container-input">
          <input
            class="order-input"
            type="tel"
            id="user-tel"
            name="user-tel"
            placeholder="+38 (095) 555 99 22"
          />
        </div>
        <p class="order-error-text">Error text</p>
      </div>

      <div class="order-container-area">
        <label class="order-label" for="user-comment">Коментар</label>
        <textarea
          class="order-textarea"
          name="user-comment"
          id="user-comment"
          rows="5"
          placeholder="Напишіть ваш коментар"
        ></textarea>
        <p class="order-error-text">Error text</p>
      </div>

      <button type="submit" class="btn-send" aria-label="Надіслати заявку">
        Надіслати
      </button>
    </form>
  </div>
</div>
