<section class="pets-list-section" id="pets-list">
  <div class="container">
    <h2 class="section-pets-title">Наші хвостики</h2>
    <p class="section-pets-p">Вони дуже чекають на знайомство з вами</p>
    <ul class="pets-category-list">
      <li class="category-list-item">
        <button
          class="pet-category-button all animated-button dark"
          type="button"
          aria-label="Всі категорії тварин"
        >
          Всі
        </button>
      </li>
    </ul>
    <ul class="pets-list"></ul>
    <button
      class="more-pets-button animated-button dark"
      type="button"
      aria-label="Показати більше тварин"
    >
      Показати більше
    </button>
    <span class="loader"></span>
  </div>
</section>
