/* ===== HEADER ===== */
.header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 72px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: var(--scheme1-background);
}

.header-elements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 51px;
}

.header-nav {
  display: none;
}

.header-toggle {
  position: relative;
  width: 24px;
  height: 24px;
}

.header-burger,
.header-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.header-burger {
  opacity: 1;
}

.header-burger.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: rotate(90deg);
}

.header-close {
  opacity: 0;
  pointer-events: none;
  transform: rotate(-90deg);
}

.header-close.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: rotate(0);
}

/* ===== MOBILE MENU ===== */

.header-mob-menu {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f6f4f1;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.4s ease;
  z-index: 900;
  display: flex;
}

.header-mob-menu.mob-menu-open {
  opacity: 1;
  transform: translateX(0);
}

.header-mob-menu-container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 16px 20px 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}

.mobile-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}

/* ===== LINKS ===== */

.header-link {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: #02060a;
  text-decoration: none;

  transition: color 0.3s ease;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after,
.header-link:focus::after {
  transform: scaleX(1);
}

.header-link:active {
  color: #88765c;
}

.header-link:active::after {
  transform: scaleX(1);
}

/* ===== BUTTON ===== */

.header-btn-hidden {
  display: none;
}

.header-btn {
  font-family: var(--font-family);
  font-size: 13.7px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease,
    border-color 0.5s ease;
  background-color: #88765c;
  border: 1px solid #88765c;
  color: #fff;
}

.header-mob-menu .header-btn {
  width: 100%;
  height: 37px;
  margin-top: 64px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #eee9e3;
  color: #02060a;
}

.header-btn:active {
  background-color: #eee9e3;
  color: #02060a;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.header-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
  .header-mob-menu-container {
    width: 768px;
    padding: 16px 32px 32px;
    align-items: center;
  }

  .mobile-menu {
    width: 704px;
    align-items: center;
  }

  .header-mob-menu .header-btn {
    width: 196px;
  }
  .header-btn {
    font-size: 14px;
  }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1440px) {

  .header-wrap {
    margin-right: 24.95px;
  }

  .header-nav {
    display: flex;
    gap: 32px;
    margin-right: auto;
  }

  .header-link {
    font-size: 16px;
  }

  .header-btn-hidden {
    display: inline-block;
  }

  .header-btn {
    width: 130px;
    height: 40px;
    padding: 8px 20px;
    font-size: 15px;
  }

  .header-toggle {
    display: none;
  }
}
