.hero-section {
  padding-top: 64px;
  padding-bottom: 115px;
  background: center / cover no-repeat;
  background-image: url('../img/hero/hero-mobile-1x.webp');
  background-image: image-set(
    url('../img/hero/hero-mobile-1x.webp') 1x,
    url('../img/hero/hero-mobile-2x.webp') 2x
  );
  margin: 0 auto;
}

.hero-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 0;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  max-width: none;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 24px;
}

.hero-title-description {
  max-width: none;
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  display: inline-block;
  border: 1px solid #88765c;
  border-radius: 8px;
  background: #88765c;
  padding: 12px 24px;
  font-size: 14px;
  color: #fff;
  transition: background-color 250ms ease, color 250ms ease,
    border-color 250ms ease, box-shadow 250ms ease;
}

.hero-btn:hover,
.hero-btn:focus-visible,
.hero-btn:active {
  border: 1px solid #02060a;
  background: #c3b49d;
  color: #02060a;
}

.hero-btn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hero-btn--disabled {
  background: #88765c;
  border-color: #e0e0e0;
  color: #9e9e9e;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 235px;
    background-image: url('../img/hero/hero-tablet-1x.webp');
    background-image: image-set(
      url('../img/hero/hero-tablet-1x.webp') 1x,
      url('../img/hero/hero-tablet-2x.webp') 2x
    );
  }

  .hero-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .hero-title {
    max-width: 622px;
  }

  .hero-title-description {
    max-width: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 128px;
    padding-bottom: 413px;
    background-image: url('../img/hero/hero-desc-1x.webp');
    background-image: image-set(
      url('../img/hero/hero-desc-1x.webp') 1x,
      url('../img/hero/hero-desc-2x.webp') 2x
    );
      max-width: 1440px;
  }

  .hero-container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-title-description {
    font-size: 18px;
  }

  .hero-btn {
    font-size: 16px;
  }
}
